[submodule "extensions/mediawiki-shoogletweet"]
	path = extensions/mediawiki-shoogletweet
	url = https://github.com/schinken/mediawiki-shoogletweet
[submodule "extensions/Moderation"]
	path = extensions/Moderation
	url = https://github.com/edwardspec/mediawiki-moderation.git
[submodule "extensions/VisualEditor"]
  path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/VisualEditor.git
	branch = REL1_32